<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
<ion-tabs class="tabs-icon-top">
   <ion-tab title="Your City Weather"  icon-off="icon ion-ios7-sunny" icon-on="icon ion-ios7-sunny"
       href="#/auth/signin">
      <ion-nav-view name="auth-signin"></ion-nav-view>
   </ion-tab>
   <ion-tab title="ForeCast"  icon-off="icon ion-ios7-rainy" icon-on="icon ion-ios7-rainy"
       href="#/auth/signup">
      <ion-nav-view name="auth-signup"></ion-nav-view>
   </ion-tab>
    <ion-tab title="Maps"  icon-off="icon ion-map" icon-on=" icon ion-map"
       href="#/auth/maps">
      <ion-nav-view name="auth-maps"></ion-nav-view>
   </ion-tab>
</ion-tabs>