
<ion-header-bar class="bar-positive">
<h1 class="title">Weather</h1>
</ion-header-bar>
<ion-content class="has-header padding">


<div class="list-card">

	<img ng-src="{{icon}}" ng-style="{'height': 20px'}">

	<h2 style="color: #ffffff">{{todaylist.main.temp}}°C</h2>
	<h2 style="color: #ffffff">Weather: {{todaylist.weather[0].main}}</h2>
	<ul class="list_vw">
		<li>Wind: {{todaylist.wind.speed}} m/s</li>
		<li>Humidity: {{todaylist.main.humidity}} %</li>
		<li>Sunrise: {{sunrise}}</li>
		<li>Sunset: {{sunset}}</li>
	</ul>

	<ul class="list_vw sec_vw">
		<li>Cloudiness: {{todaylist.weather[0].description}}</li>
		<li>Minimum Temp: {{todaylist.main.temp_min}}°C</li>
		<li>Maximium Temp: {{todaylist.main.temp_max}}°C</li>
	</ul>
</div>
</div>


</ion-content>