<!-- <ion-pane>  -->
<ion-header-bar class="bar-positive">
<h1 class="title">Map</h1>
</ion-header-bar>




<ion-view title="Map Overview">
 <ion-content ng-controller="MapController" ng-init="initialize()">
 <form id="editLocation" style="" ng-submit="checkWeather(location)">
<div  class="item item-input-inset" >
	<label class="item-input-wrapper"> <input type="text"
		placeholder="Enter City Name" ng-model='location.p'>
	</label>
	<button id="btn_city_weather" type="submit" 
		class="button button-small">City Weather</button>
</div>
</form>
<div id="map" data-tap-disabled="true"></div>

</ion-content> </ion-view>


<!-- <ion-content  class="has-header padding"> -->
<!-- <div > -->
<!-- 	<h2>Weather Spartacus</h2> -->
<!-- </div> -->
<!-- <div id="map" data-tap-disabled="true"></div> -->
<!-- </ion-content > -->
<!--  <!-- <script -->
-->
<!--  <!-- 	src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAs2Ut8FUoMDC7v_-1cj45P-i5FNB1cvb4&sensor=true"> -->
<!--  </script> -->
-->
<!--  </ion-pane> -->











